
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ludwig Artifact Collector</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Extraction:</h1>
<form method="POST" th:object="${extraction}">

    <span class="validationError"
          th:if="${#fields.hasErrors('id')}"
          th:errors="*{id.toString()}">ID Error</span>

    <div class="grid">
        <h3>Artifact:</h3>
        <div th:each="command : ${commands}">
            <input name="command.commandType" type="hidden" th:value="${command.getCommandType()}" />
            <input name="command.description" type="radio" th:value="${command.getDescription()}" />
            <span th:text="${command.description}">COMMAND</span><br/>
        </div>
    </div>
    <br/>
    
    <div class="grid">
        <h3>Operator:</h3>
        <div th:each="operator : ${operators}">
            <input name="operator.callSign" type="radio" th:value="${operator.callSign}" />
            <span th:text="${operator.callSign}">OPERATOR</span><br/>
        </div>
    </div>
    <br/>
    
        <div class="grid">
        <h3>Source:</h3>
        <div th:each="source : ${sources}">
            <input name="source.ipAddress" type="radio" th:value="${source.ipAddress}" />
            <input type="hidden" name="source.sourceType" th:value="${source.sourceType}" />
            <span th:text="${source.ipAddress}">SOURCE</span><br/>
        </div>
    </div>
    <br/>

    <div>
        <h3>Title:</h3>
        <input type="text" th:field="*{title}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}">Title Error</span>
         <br/><br/>
        <button>Submit</button>
    </div>
    
</form>
</body>
</html>